<div class="editor-container">
  <div class="editor-section">
    <div #editorContainer class="monaco-editor"></div>

    <div class="editor-controls">
      <label for="languageSelect">Language:</label>
      <select id="languageSelect" (change)="onLanguageChange($event)" class="language-selector">
        <option value="java">Java</option>
        <option value="python">Python</option>
      </select>
      <button (click)="onCompile()" class="submit-button">Compile & Run</button>
    </div>
  </div>

</div>
<div class="compile-result">
  <h3>Result</h3>
  <pre>{{ compileResult }}</pre>
</div>
